{% extends "office_tool_app/Base2col.html" %}
{% load static %}

{% block content %}
<div class="card mt-5 border border-dark" style="width: auto;" >
        <div class="card-body">
        <h5 class="card-title">Your pending delegations:</h5>
            <uL>
            {% for delegation in delegations_today %}
        <p class="card-text">
               <h6> Delegation to: {{ delegation.delegation_country }} <br></h6>
        <li>start date: {{ delegation.start_date }}</li>
        <li>end date: {{ delegation.end_date }}</li>
        <li>status: {{ delegation.status }}</li>
                <a href="{% url 'delete-delegation' delegation.pk %}" class="btn btn-primary text-white">Delete</a>
          {% empty %}
                <li>No pending delegations requests</li>
            {% endfor %}
            </uL>

        </p>
       </div>
    </div>
    <div class="card mt-5 border border-dark" style="width: auto;" >
        <div class="card-body">
        <h5 class="card-title">Future approved delegations:</h5>
            <ul>
            {% for delegation in delegations_future %}
        <p class="card-text">
               <h6> Delegation to: {{ delegation.delegation_country }} <br></h6>
                <li>start date: {{ delegation.start_date }}</li>
           <li>end date: {{ delegation.end_date }}</li>
        <li>status: {{ delegation.status }}</li>
          {% empty %}
                <li>No future delegations yet</li>
            {% endfor %}
            </ul>
        </p>
        </div>
    </div>
    <div class="card mt-5 border border-dark" style="width: auto;" >
        <div class="card-body">
        <h5 class="card-title">Historical delegations:</h5>
            <ul>
            {% for delegation in delegations_past %}
        <p class="card-text">
               <h6> Delegation to: {{ delegation.delegation_country }} <br></h6>
                <li>start date: {{ delegation.start_date }}</li>
             <li>end date: {{ delegation.end_date }}</li>
         <li>status: {{ delegation.status }}</li>
                {% empty %}
                <li>No historical delegations</li>
          {% endfor %}
            </ul>
        </p>
        </div>
    </div>

<br>
                <a href="{% url 'create-delegation' %}" class="btn btn-primary text-white">Create new</a>
{% endblock %}