{% extends "office_tool_app/Base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
    <div class="card mt-5 border border-dark" style="width: auto;" >
        <div class="card-body">
        <h5 class="card-title">Your pending vacations:</h5>
            {% for vacation in vacations %}
        <p class="card-text">

        from: {{ vacation.vacation_from }}<br>
          to: {{ vacation.vacation_to }}<br>
        status: {{ vacation.status }}<br>
        replacement employee: {{ vacation.vacation_replacement }}<br>
          {% endfor %}
        </p>
        <a href="{% url 'vacation-detail' %}" class="btn btn-primary text-white">Go to</a>
        </div>
    </div>

    <div class="card mt-5 border border-dark" style="width: auto;" >
        <div class="card-body">
        <h5 class="card-title">Your pending delegations:</h5>
            {% for delegation in delegations %}
        <p class="card-text">
               <h6> Delegation to: {{ delegation.delegation_country }} <br></h6>
        start date: {{ delegation.start_date }}<br>
            end date: {{ delegation.end_date }}<br>
        status: {{ delegation.status }}<br>
          {% endfor %}
        </p>
        <a href="{% url 'delegation-detail' %}" class="btn btn-primary text-white">Go to</a>
        </div>
    </div>
    <div class="card mt-5 border border-dark" style="width: auto;" >
        <div class="card-body">
        <h5 class="card-title">People on vacation from your team:</h5>
        <p class="card-text">
            {% for user in group_users %}
            <li>{{ user.first_name }}</li>

            {% endfor %}
        </p>
        <a href="{% url 'delegation-detail' %}" class="btn btn-primary text-white">Go to</a>
        </div>
    </div>
{% else %}
    <div>

            <a href="{% url 'login' %}" class="nav-link px-0 align-middle">Please login</a>

    </div>
{% endif %}
{% endblock %}

    {% block content2 %}
        <div class="card mt-5 text-white bg-dark" style="width: auto;" >
        <div class="card-body">
        <h5 class="card-title">Your messages:</h5>
            {% for message in messages %}
            <p class="card-text">
               <h6>from: {{ message.from_employee }}</h6>
                Text: {{ message.message }}<br>
                <small>send: {{ message.sending_date }}</small>
          {% endfor %}
        </div>
    </div>
    {% endblock %}