{% extends "office_tool_app/Base2col.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
      <div class="card mt-5 border border-dark" >
        <div class="card-body">
        <h5 class="card-title">Pending requests:</h5>

        <p class="card-text">
            {% for delegation in delegations %}
               <h6> employee: {{ delegation.employee }} <br></h6>
                   Delegation to: {{ delegation.delegation_country }} <br>
                    start date: {{ delegation.start_date }}<br>
                end date: {{ delegation.end_date }}<br>
                status: {{ delegation.status }}<br>
        <a href="{% url 'accept-delegation' delegation.pk %}" class="btn btn-primary text-white">Accept</a>
        <a href="{% url 'reject-delegation' delegation.pk %}" class="btn btn-primary text-white">Reject</a>

          {% endfor %}
        </p>
        <p class="card-text">
            {% for vacation in vacations %}
            <br>
                <h6>employee: {{ vacation.employee }}<br></h6>
            from: {{ vacation.vacation_from }}<br>
            to: {{ vacation.vacation_to }}<br>
            status: {{ vacation.status }}<br>
            replacement employee: {{ vacation.replacement }}<br>
        <a href="{% url 'accept-vacation' vacation.pk %}" class="btn btn-primary text-white">Accept</a>
        <a href="{% url 'reject-vacation' vacation.pk %}" class="btn btn-primary text-white">Reject</a>

          {% endfor %}
        </p>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card mt-5 border border-dark" style="width: auto;" >
        <div class="card-body">
        <h5 class="card-title">All approved {{ user }} vacations:</h5>
            {% for vacation in vacations_accepted %}
        <p class="card-text">

        from: {{ vacation.vacation_from }}<br>
          to: {{ vacation.vacation_to }}<br>
        status: {{ vacation.status }}<br>
        replacement employee: {{ vacation.vacation_replacement }}<br>
          {% endfor %}
        </p>
        </div>
    </div>
    </div>
    <div class="col-sm">
      <div class="card mt-5 border border-dark" style="width: auto;" >
        <div class="card-body">
        <h5 class="card-title">All approved {{ user }} delegations:</h5>
            {% for delegation in delegations_accepted %}
        <p class="card-text">
               <h6> Delegation to: {{ delegation.delegation_country }} <br></h6>
        start date: {{ delegation.start_date }}<br>
            end date: {{ delegation.end_date }}<br>
        status: {{ delegation.status }}<br>
          {% endfor %}
        </p>
        </div>
    </div>
    </div>
    <div class="col-sm">
      <div class="card mt-5 border border-dark" style="width: auto;" >
        <div class="card-body">
        <h5 class="card-title">All {{ user }} Medical leave:</h5>
            {% for medical in medicals %}
        <p class="card-text">
               <h6> Medical leave from: {{ medical.from_date }} to {{ medical.to_date }} <br></h6>
                <a href="{% url 'delete-medical' medical.pk %}" class="btn btn-primary text-white">Delete</a>
            {% endfor %}
        </p>
                    <a href="{% url 'create-medical' user.username %}" class="btn btn-primary text-white">Add new</a>

       </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}