{% extends "office_tool_app/Base2col.html" %}
{% load static %}

{% block content %}
    <div class="card mt-5 border border-dark" style="width: auto;" >
        <div class="card-body">
        <h5 class="card-title">Your group members:</h5>
        <p class="card-text">
               <h6> Group name: {{ group_one.name }} <br></h6>
        Group members: {% for user in group_one_users %}
            {{ user }}<br>
            {% endfor %}
        </p>
       </div>
    </div>

    <div class="card mt-5 border border-dark" style="width: auto;" >
        <div class="card-body">
        <h5 class="card-title">Your subordinates members on vacation/delegations:</h5>
        <p class="card-text">
        <ul>
            <h6>Vacation:</h6> {% for vacation in vacations %}
                <li>{{ vacation.employee }}</li>
                        {% endfor %}
                        <br>
            <h6>Delegations:</h6> {% for delegation in delegations %}
                <li>{{ delegation.employee }}</li>
                        {% endfor %}
        </ul>

        </p>
       </div>
    </div>

    <div class="card mt-5 border border-dark" style="width: auto;" >
        <div class="card-body">
        <h5 class="card-title">Your subordinates members:</h5>
        <p class="card-text">
               <h6> Group name: {{ group_two.name }} <br></h6>
        Group members: <br>
            {% for user in group_two_users %}
            <li>{{ user }}</li>
            {% endfor %}
        </p>
       </div>
    </div>

{% endblock %}