{% extends "office_tool_app/Base2col.html" %} {% load crispy_forms_filters %} {%load crispy_forms_tags %} {% block content %}
<div
  class="content-section col-lg-12 col-md-12 col-sm-12 tutorial-style"
  style="min-height: 65vh"
>
  <h1>
    <div class="border-bottom mb-4">{{ username }} Profile information:</div>
  </h1>
  <form method="POST">
    {% csrf_token %} {{ form|crispy }} Correspondence Address: <br />
    {{ form_core|crispy }} Home Address:<br />
    {{ form_home|crispy }}
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Update</button>
    </div>
  </form>
</div>
<br />
{% endblock content %}
