{% extends "office_tool_app/Base2col.html" %} {% load static %} {% block content%}
<div class="card mt-5 border border-dark" style="width: auto">
  <div class="card-body">
    <h5 class="card-title">Your pending vacations:</h5>
    <ul>
      {% for vacation in vacations_today %}
      <p class="card-text">
        <li>from: {{ vacation.vacation_from }}</li>
        <li>to: {{ vacation.vacation_to }}</li>
        <li>status: {{ vacation.status }}</li>
        <li>replacement employee: {{ vacation.replacement }}</li>
        <a
          href="{% url 'delete-vacation' vacation.pk %}"
          class="btn btn-primary text-white"
          >Delete</a
        >
        {% empty %}
        <li>No pending vacation requests</li>
        {% endfor %}
      </p>
    </ul>
  </div>
</div>
<div class="card mt-5 border border-dark" style="width: auto">
  <div class="card-body">
    <h5 class="card-title">Future approval vacations:</h5>
    <ul>
      {% for vacation in vacations_future %}
      <p class="card-text">
        <li>from: {{ vacation.vacation_from }}</li>
        <li>to: {{ vacation.vacation_to }}</li>
        <li>status: {{ vacation.status }}</li>
        <li>replacement employee: {{ vacation.replacement }}</li>
        {% empty %}
        <li>No future vacations yet</li>
        {% endfor %}
      </p>
    </ul>
  </div>
</div>
<div class="card mt-5 border border-dark" style="width: auto">
  <div class="card-body">
    <h5 class="card-title">Historical vacations:</h5>
    <ul>
      {% for vacation in vacations_past %}
      <p class="card-text">
        <li>from: {{ vacation.vacation_from }}</li>
        <li>to: {{ vacation.vacation_to }}</li>
        <li>status: {{ vacation.status }}</li>
        <li>replacement employee: {{ vacation.replacement }}</li>
        {% empty %}
        <li>No historical vacations</li>
        {% endfor %}
      </p>
    </ul>
  </div>
</div>
<br />
<a href="{% url 'create-vacation' %}" class="btn btn-primary text-white"
  >Create new</a
>

{% endblock %}
