{% extends "office_tool_app/Base.html" %}
{% load static %}

{% block content %}
{#{% if user.is_authenticated %}#}
{#    <div class="card mt-5 border border-dark" style="width: auto;" >#}
{#        <div class="card-body">#}
{#        <h5 class="card-title">Your pending vacations:</h5>#}
{#        <p class="card-text">#}
{#        {% for vacation in vacations %}#}
{#        from: {{ vacation.vacation_from }}<br>#}
{#          to: {{ vacation.vacation_to }}<br>#}
{#        status: {{ vacation.status }}<br>#}
{#        replacement employee: {{ vacation.vacation_replacement }}<br>#}
{#          {% endfor %}#}
{#        </p>#}
{#    <a href="{% url 'detail-room' %}?id={{ room.id }} " class="btn btn-primary text-white">Go to</a>#}
{#  </div>#}
{#{% else %}#}
{#    <div>#}
{##}
{#            <a href="{% url 'login' %}" class="nav-link px-0 align-middle">Please login</a>#}
{##}
{#    </div>#}
{#    </div>#}
{#{% endif %}#}
{% endblock %}