{% extends "office_tool_app/Base2col.html" %}
{% load static %}

{% block content %}
<div class="card mt-5 border border-dark" style="width: auto;" >
        <div class="card-body">
        <h5 class="card-title">Your pending vacations:</h5>
            {% for vacation in vacations_today %}
        <p class="card-text">

        from: {{ vacation.vacation_from }}<br>
          to: {{ vacation.vacation_to }}<br>
        status: {{ vacation.status }}<br>
        replacement employee: {{ vacation.replacement }}<br>
                <a href="{% url 'delete-vacation' vacation.pk %}" class="btn btn-primary text-white">Delete</a>
          {% endfor %}

        </p>
        </div>
    </div>

    <div class="card mt-5 border border-dark" style="width: auto;" >
        <div class="card-body">
        <h5 class="card-title">Hisorical vacations:</h5>
            {% for vacation in vacations %}
        <p class="card-text">

        from: {{ vacation.vacation_from }}<br>
          to: {{ vacation.vacation_to }}<br>
        status: {{ vacation.status }}<br>
        replacement employee: {{ vacation.replacement }}<br>
          {% endfor %}
        </p>
        </div>
    </div>
<br>
    <a href="{% url 'create-vacation' %}" class="btn btn-primary text-white">Create new</a>

{% endblock %}